/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

$white: #f8f1ed;
$dk-green: #0a3d29;
$blue: #0c5e76; 
$pink: #e99670;
$lt-blue: #ccd8d9;
$plum: #433543;

$main-font: Questrial;
$h1-font-size: 2rem;
$h2-font-size: 1.8rem;



/*-- scss:rules --*/

.button {
    color: $plum;
    background-color: $pink;
    border-color: $lt-blue;
    border-style: solid;
}


.manual-link {
    border-style: solid;
    border-color: $dk-green;
    border-width: 1px;
    font-size: larger;
    text-decoration: none;
    color: $dk-green;
    padding: 2px;
    border-radius: 4px;
}

.example {
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: $dk-green;
    padding: 2px;

}

.nav {
    font-size: larger;
    color: $plum;   
}

.pres {
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: $dk-green;
    padding: 6px;
    width: 40%;
}

.pres-thumb {
    padding: 3px;
    border-radius: 6px;
    width: 90%;
}

.quote {
    color: $blue;
    background-color: #f8f1ed;
    border-radius: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}